.galerry-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.galerry-list-img {
  width: 100%;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
